<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 08-12-2021
  @last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
-->
<template>
    <lightning-card title="Numerator" icon-name="action:manage_perm_sets">    
        <p class="slds-text-align_center slds-var-m-vertical_medium">
          Count: <lightning-formatted-number value={counter}></lightning-formatted-number>
        </p>
        <c-controls
        class="slds-show slds-is-relative"
        onadd={handleIncrement}
        onsubtract={handleDecrement}
        onmultiply={handleMultiply}>
      </c-controls>
      </lightning-card>
</template>