<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 09-10-2021
  @last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
-->
<template>
  <lightning-card  title="jsTree Poc">
              <div id="html" class="treeAccount" style='width: 100%;'>
              </div> 
  </lightning-card>
</template>