<template>

    <template if:true={isError}>
        <div class="slds-notify slds-notify_alert slds-theme_alert-texture slds-theme--error" role="alert">
            <h2> {errorMessage} </h2>
        </div>
    </template>

    <div>{labels.Make_HTTP_Call}</div>

    <c-fsc_flow-combobox 
        label={labels.urlLabel} 
        builder-context={_builderContext} 
        name="Endpoint"  
        onvaluechanged={handleFlowComboboxValueChange} 
        value={url} 
        value-type={urlType} 
        class="slds-m-around_medium"
        required="true"
        automatic-output-variables={automaticOutputVariables}>
        
    </c-fsc_flow-combobox>

    <c-fsc_flow-combobox 
        label={labels.HTTP_Method} 
        builder-context={_builderContext} 
        name="Method"  
        onvaluechanged={handleFlowComboboxValueChange} 
        value={method} 
        value-type={methodType} 
        class="slds-m-around_medium"
        required="true"
        automatic-output-variables={automaticOutputVariables}>
        
    </c-fsc_flow-combobox>
    <lightning-input label={labels.Timeout_in_ms} onchange={changeTimeout} value={timeout} type="number"></lightning-input>
    <c-list-builder 
        master-label={labels.Specify_Params} 
        add-button-label={labels.Add_Param} 
        list-data={paramList} 
        onchangelist={changeParams}
        builder-context={builderContext}
        automatic-output-variables={automaticOutputVariables}>
    </c-list-builder>
    <c-list-builder 
        master-label={labels.Specify_Headers} 
        add-button-label={labels.Add_Header} 
        list-data={headerList} 
        onchangelist={changeHeaders}
        builder-context={builderContext}
        automatic-output-variables={automaticOutputVariables}>
    </c-list-builder>

    <c-fsc_flow-combobox 
        label={labels.Body_Label} 
        builder-context={_builderContext} 
        name="Body"  
        onvaluechanged={handleFlowComboboxValueChange} 
        value={body} 
        value-type={bodyType} 
        class="slds-m-around_medium"
        automatic-output-variables={automaticOutputVariables}>
        
    </c-fsc_flow-combobox>

    <lightning-input type="checkbox" checked={compressedGzip} label={labels.Compress_Request_body_to_gzip} class="slds-m-around_medium" onchange={changeCompressedGzip}></lightning-input>

    <lightning-input type="checkbox" checked={bodyAsBlob} label={labels.Request_Body_as_Blob} class="slds-m-around_medium" onchange={changeBodyAsBlob}></lightning-input>

    <lightning-button label={labels.Test_Callout} onclick={makeTestCallout}></lightning-button>
    <template if:true={testResult}>
        <div class="slds-m-around_medium slds-hyphenate" >
            <b>{labels.Response_Result}</b>
            <div class="slds-m-around_small">
                <template if:true={testResult.Error_message}>
                    {labels.Error_Message} {testResult.Error_message}<br/>
                </template>
                <template if:false={testResult.Error_message}>
                    {labels.Status} {testResult.Status} <br/>
                    {labels.Status_code} {testResult.Status_code}<br/>
                    {labels.Body_Label} : {testResult.Body}<br/>
                </template>
            </div>
        </div>
    </template>

    <template if:true={isShowMergeFeildReplacer}>
        <c-merge-field-replacer merge-field-list={mergeFieldList} onclosemodal={closeMergeFieldReplacer}>

        </c-merge-field-replacer>
    </template>
    
</template>