<template>
    <p>contactListCustom</p>
    <lightning-card>
        <template if:true={Contacts.data}>
            <lightning-datatable
                key-field="Id"
                data={Contacts.data}
                columns={columns}
            >
           </lightning-datatable>
        </template>
    </lightning-card>
</template>