<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 04-13-2021
  @last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
  Modifications Log 
  Ver   Date         Author                               Modification
  1.0   04-13-2021   ChangeMeIn@UserSettingsUnder.SFDoc   Initial Version
-->
<template>
    <div class="container">
        <a onclick={tileClick}>
            <div class="title">{product.fields.Name.value}</div>

            <img class="product-img" src={product.fields.Picture_URL__c.value}></img>
        </a>
    </div>
</template>