<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 04-17-2021
  @last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
  Modifications Log 
  Ver   Date         Author                               Modification
  1.0   04-17-2021   ChangeMeIn@UserSettingsUnder.SFDoc   Initial Version
-->
<template>
    <lightning-card title="ApiProperty" icon-name="standard:product_consumed">
        <div class="slds-var-m-around_medium">
            <lightning-input
                label="Percentage"
                type="number"
                min="0"
                max="100"
                value={percentage}
                onchange={handlePercentageChange}
            ></lightning-input>
            <c-chart-bar
                class="slds-show slds-is-relative"
                percentage={percentage}
            ></c-chart-bar>
        </div>

        <c-view-source class="slds-show slds-is-relative" source="lwc/apiProperty" slot="footer">
            Parent-to-child communication. Pass data to a child component using
            its public (@api) properties.
        </c-view-source>
    </lightning-card>
</template>