<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 03-28-2021
  @last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
  Modifications Log 
  Ver   Date         Author                               Modification
  1.0   03-19-2021   ChangeMeIn@UserSettingsUnder.SFDoc   Initial Version
-->
<template>
	<lightning-card title="Bears" icon-name="utility:animal_and_nature">
		<div class="slds-card__body_inner">
			<!-- Start bear list -->
			<template if:true={bears.data}>
				<lightning-input type="search"
	onchange={handleSearchTermChange}
	variant="label-hidden"
	class="slds-var-m-bottom_small"
	label="Search"
	placeholder="Search for bears"
	value={searchTerm}>
</lightning-input>
				<lightning-layout multiple-rows="true" pull-to-boundary="small">
					<template for:each={bears.data} for:item="bear">
						<lightning-layout-item key={bear.Id} size="3" class="slds-var-p-around_x-small">
							<!-- Start bear tile -->
							<c-bear-tile bear={bear} onbearview={handleBearView} ></c-bear-tile>
							<!-- End bear tile -->
						</lightning-layout-item>
					</template>
				</lightning-layout>
				<!-- No bears found -->
<template if:false={hasResults}>
	<div class="slds-align_absolute-center slds-var-m-vertical_small">
		This is beary disturbing, we did not find results...
	</div>
</template>
			</template>
			<!-- End bear list -->
			<!-- Data failed to load -->
			<template if:true={bears.error}>
				<div class="slds-text-color_error">
					An error occurred while loading the bear list
				</div>
			</template>
		</div>
	</lightning-card>
</template>