<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 03-28-2021
  @last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
  Modifications Log 
  Ver   Date         Author                               Modification
  1.0   03-28-2021   ChangeMeIn@UserSettingsUnder.SFDoc   Initial Version
-->
<template>
	<lightning-card title={bear.Name} class="bear-tile">
        <div slot="actions">
            <lightning-button-icon
                icon-name="utility:search"
                icon-class="bear-tile-button"
                variant="bare"
                alternative-text="Open record"
                onclick={handleOpenRecordClick}>
            </lightning-button-icon>
        </div>
		<div class="slds-var-p-horizontal_small bear-tile-body">
			<div class="slds-media">
				<div class="slds-media__figure">
					<img src={appResources.bearSilhouette} alt="Bear profile" class="bear-silhouette"/>
				</div>
				<div class="slds-media__body">
					<p class="slds-var-m-bottom_xx-small">{bear.Sex__c}</p>
					<p class="slds-var-m-bottom_xx-small">{bear.Age__c} years old</p>
					<p class="slds-var-m-bottom_xx-small">{bear.Height__c} cm</p>
					<p class="slds-var-m-bottom_xx-small">{bear.Weight__c} Kg</p>
				</div>
			</div>
		</div>
	</lightning-card>
</template>