<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 09-09-2021
  @last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
-->
<template>
    <lightning-card title="jsWidget WIP">
        <div class="jqxTree">
            <ul>
                <li item-selected="true">Home</li>
                <li item-checked="true" item-expanded="true"><a href="#">Solutions</a>
                    <ul>
                        <li><a href="#">Government</a></li>
                        <li item-checked="false"><a href="#">Manufacturing</a></li>
                        <li><a href="#">Solutions</a>
                            <ul>
                                <li><a href="#">Consumer photo and video</a></li>
                                <li><a href="#">Mobile</a></li>
                                <li><a href="#">Rich Internet applications</a></li>
                                <li><a href="#">Technical communication</a></li>
                                <li><a href="#">Training and eLearning</a></li>
                                <li><a href="#">Web conferencing</a></li>
                            </ul>
                        </li>
                        <li><a href="#">All industries and solutions</a></li>
                    </ul>
                </li>                    
            </ul>
        </div>
    </lightning-card>
</template>