<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 08-16-2021
  @last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
-->
<template>
    <lightning-button label="Toggle" variant="brand" onclick={handleClick}></lightning-button>

    <div class="exampleHolder" style="height:6rem;position:relative">
        <template if:true={loaded}>
            Put loaded content here
        </template>
        <template if:false={loaded}>
            <lightning-spinner alternative-text="Loading" size="small"></lightning-spinner>
        </template>
    </div>
</template>