<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 09-09-2021
  @last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
-->
<template>
    <lightning-card title="Include JQuery in LWC ">
        <div class="slds-m-around_medium">
            <div class="flip" onclick={slideIt}>Click Here to Slide Down or Up</div>
            <div class="panel">
                <p class="innerDiv" onclick={slideRight}>
                    JQuery in LWC
                </p>
            </div>
        </div>
    </lightning-card>
</template>