<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 04-17-2021
  @last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
  Modifications Log 
  Ver   Date         Author                               Modification
  1.0   04-17-2021   ChangeMeIn@UserSettingsUnder.SFDoc   Initial Version
-->
<template>
    <lightning-card title="CompositionBasics" icon-name="custom:custom57">
        <div class="slds-var-m-around_medium">
            <c-contact-tile
                class="slds-show slds-is-relative"
                contact={contact}
            ></c-contact-tile>
        </div>

        <c-view-source class="slds-show slds-is-relative" source="lwc/compositionBasics" slot="footer">
            Nest a child component into a parent component and pass data to the
            child component using its public (@api) properties.
        </c-view-source>
    </lightning-card>
</template>