<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 06-06-2021
  @last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
  Modifications Log 
  Ver   Date         Author                               Modification
  1.0   06-03-2021   ChangeMeIn@UserSettingsUnder.SFDoc   Initial Version
-->
<template>
  <lightning-card>  <h4> Tree Grid Example</h4>
    <div class="slds-m-bottom_small">
      <lightning-button
          label="Collapse All"
          onclick={clickToCollapseAll}>
      </lightning-button>
  </div>

  <div class="slds-m-bottom_small">
      <lightning-button
          label="Get Expanded"
          onclick={clickToGetExpanded}>
      </lightning-button>
      <p>Expanded currently : {currentExpandedStr}</p>
  </div>
    <lightning-tree-grid data={treeItems} columns={columns} key-field="name" >
    </lightning-tree-grid></lightning-card>
  
</template>