<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 09-09-2021
  @last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
-->
<template>
    <lightning-card title="jsTree WIP">
    <div id="jstree">
        <!-- in this example the tree is populated from inline HTML -->
        <ul>
          <li>Root node 1
            <ul>
              <li id="child_node_1">Child node 1</li>
              <li>Child node 2</li>
            </ul>
          </li>
          <li>Root node 2</li>
        </ul>
      </div>
      <button>demo button</button>
    </lightning-card>

    <lightning-card title="jsWidget WIP">
        <div id='jqxTree'>
            <ul>
                <li item-selected='true'>Home</li>
                <li item-checked='true' item-expanded='true'><a href="#">Solutions</a>
                    <ul>
                        <li><a href="#">Government</a></li>
                        <li item-checked='false'><a href="#">Manufacturing</a></li>
                        <li><a href="#">Solutions</a>
                            <ul>
                                <li><a href="#">Consumer photo and video</a></li>
                                <li><a href="#">Mobile</a></li>
                                <li><a href="#">Rich Internet applications</a></li>
                                <li><a href="#">Technical communication</a></li>
                                <li><a href="#">Training and eLearning</a></li>
                                <li><a href="#">Web conferencing</a></li>
                            </ul>
                        </li>
                        <li><a href="#">All industries and solutions</a></li>
                    </ul>
                </li>                    
            </ul>
        </div>
    </lightning-card>
    
    <lightning-card title="Include JQuery in LWC ">
        <div class="slds-m-around_medium">
            <div class="flip" onclick={slideIt}>Click Here to Slide Down or Up</div>
            <div class="panel">
                <p class="innerDiv" onclick={slideRight}>
                    JQuery in LWC
                </p>
            </div>
        </div>
    </lightning-card>
</template>