<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 04-27-2021
  @last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
  Modifications Log 
  Ver   Date         Author                               Modification
  1.0   04-27-2021   ChangeMeIn@UserSettingsUnder.SFDoc   Initial Version
-->
<template>
    <div class="slds-box outerPart">
      <p class="slds-m-bottom_small">Opportunity Visualizer</p>
      <!--lightning-button variant="brand" name="verifyMail" label="Sync Salesforce Tasks" onclick​={initialiseFullCalendarJs}></lightning-button-->
      <div style="background:#ffffff;" class="slds-grid slds-m-top_medium">
        <div id="calendar" class="fullcalendarjs"></div>
      </div>
    </div>
  </template>