<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 03-29-2021
  @last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
  Modifications Log 
  Ver   Date         Author                               Modification
  1.0   03-29-2021   ChangeMeIn@UserSettingsUnder.SFDoc   Initial Version
-->
<template>
	<article class="slds-card">
		<lightning-map
			map-markers={mapMarkers}
			zoom-level="11"
			markers-title="Bears">
		</lightning-map>
	</article>
</template>